<%= render "popup" %>
<div class="shop-background" style="background-image: url('<%= image_path 'backgrounds/homepage_background.png'%>');">
<div class="block-color d-flex mb-4">
  <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
    <div class="setting-icon" id="setting" style="font-size: 2em; color: white;">
      <i class="fa-solid fa-gear"></i>
    </div>
  <%end%>
  <h3>Hi, <%= current_user.avatar.name ? current_user.avatar.name : "there" %>!</h3>
</div>
<div class="container d-flex">
  <%# HP bar works based on hp_bar_level (weekly goals) %>
  <div class="hp-bar ms-3" style="flex-grow: 7">
    <%= render "healthbar" %>
    <p class="text-start ms-2">Health points</p>
  </div>
  <div>
    <div class="point-bar me-3">
      <span style="flex-grow: 1"></span>
      <%= image_tag 'coins/coin.png', class: "coin-icon"%>
      <%# placeholder text below, can interpolate %>
      <p><%= current_user.avatar.coins %></p>
    </div>
    <p class="text-start ms-3">coins</p>
  </div>
</div>
<div class="submission-box" data-controller="submissions">
  <div class="message-box food hide" data-submissions-target="food">
    <%= render "/submissions/food" %>
  </div>
  <div class="message-box sleep hide" data-submissions-target="sleep">
    <%= render "/submissions/sleep" %>
  </div>
  <div class="message-box exercise hide" data-submissions-target="exercise">
    <%= render "/submissions/exercise" %>
  </div>
  <div class="routine-icons container mt-3" >
    <%# Food goals based on daily goals %>
    <div class="progress-circle-food" data-action="click->submissions#show" style="background:
      radial-gradient(closest-side, white 79%, transparent 80% 100%),conic-gradient(<% if @food_percentage_today < 40 %><%= '#FF6073'%><% elsif @food_percentage_today < 80 %><%= '#F6DE68' %><% else %><%= '#38C6C2'%><% end %> <%= @food_percentage_today%>%, <% if @food_percentage_today < 40 %><%= '#FFB5BE'%><% elsif @food_percentage_today < 80 %><%= '#FDF5D0' %><% else %><%= '#A6E1DA'%><% end %> 0);">
      <div class="food-icon d-flex justify-content-center align-items-center" style="<% if @food_percentage_today < 40 %><%= "background-color: #DF3146;" %><% elsif @food_percentage_today< 80 %><%= "background-color: #EFB622;" %><% else %><%= "background-color: #008C9B;" %><% end %>">
        <i class="fa-solid fa-burger" style="font-size: 2em; color: white;"></i>
      </div>
    </div>
    <%# Sleep goals based on daily goals %>
    <div class="progress-circle-sleep" data-action="click->submissions#show" style="background:
      radial-gradient(closest-side, white 79%, transparent 80% 100%),conic-gradient(<% if @sleep_percentage_today < 40 %><%= '#FF6073'%><% elsif @sleep_percentage_today < 80 %><%= '#F6DE68' %><% else %><%= '#38C6C2'%><% end %> <%= @sleep_percentage_today%>%, <% if @sleep_percentage_today < 40 %><%= '#FFB5BE'%><% elsif @sleep_percentage_today < 80 %><%= '#FDF5D0' %><% else %><%= '#A6E1DA'%><% end %> 0);">
      <div class="sleep-icon d-flex justify-content-center align-items-center" style="<% if @sleep_percentage_today < 40 %><%= "background-color: #DF3146;" %><% elsif @sleep_percentage_today< 80 %><%= "background-color: #EFB622;" %><% else %><%= "background-color: #008C9B;" %><% end %>">
        <i class="fa-solid fa-moon" style="font-size: 2em; color: white;"></i>
      </div>
    </div>
    <%# Exercise goals based on weekly goals %>
    <div class="progress-circle-exercise" data-action="click->submissions#show" style="background:
      radial-gradient(closest-side, white 79%, transparent 80% 100%),conic-gradient(<% if @exercise_percentage_today < 40 %><%= '#FF6073'%><% elsif @exercise_percentage_today < 80 %><%= '#F6DE68' %><% else %><%= '#38C6C2'%><% end %> <%= @exercise_percentage_today%>%, <% if @exercise_percentage_today < 40 %><%= '#FFB5BE'%><% elsif @exercise_percentage_today < 80 %><%= '#FDF5D0' %><% else %><%= '#A6E1DA'%><% end %> 0);">
      <div class="exercise-icon d-flex justify-content-center align-items-center" style="<% if @exercise_percentage_today < 40 %><%= "background-color: #DF3146;" %><% elsif @exercise_percentage_today< 80 %><%= "background-color: #EFB622;" %><% else %><%= "background-color: #008C9B;" %><% end %>">
        <i class="fa-solid fa-dumbbell" style="font-size: 2em; color: white;"></i>
      </div>
    </div>
  </div>
</div>
<div class="container d-flex justify-content-center mt-5">
  <div class="avatar-card" data-controller="expressions" data-expressions-goal-value="<%= params[:goal] %>" data-expressions-status-value="<%= params[:achieved] %>" data-expressions-url-value="<%= params[:expression_url] %>">
    <div data-expressions-target="coin50" class="coin50 hide">
      <%= image_tag "pop_up/coins_50.png"%>
    </div>
    <div class="bubble-home hide" data-expressions-target="bubble">
      <%= image_tag "speech_bubbles/speech_bubble_hmpg_2.png"%>
    </div>
    <%= cl_image_tag @user.avatar.skin_color.photo.key, :class => 'avatar-skin-color'%>
    <%= render "pages/expression" %>
    <div class="facial-expression-submission show">
      <%= cl_image_tag current_user.avatar.expression.photo.key, :class => 'avatar-expression', data: {expressions_target: "photo"}%>
    </div>
    <div class="facial-expression-regular hide" data-expressions-target="container">
      <%= cl_image_tag current_user.avatar.expression.photo.key, :class => 'avatar-expression' %>
    </div>
    <%= cl_image_tag @user.avatar.accessories.photo.key , :class => 'avatar-accessories', data:{action: "click->expressions#avatar"}%>
    <%= cl_image_tag @user.avatar.hair.photo.key , :class => 'avatar-hair'%>
    <%= cl_image_tag @user.avatar.pants.photo.key, :class => 'avatar-pants'%>
    <%= cl_image_tag @user.avatar.shirt.photo.key, :class => 'avatar-shirt' %>
    <%= cl_image_tag @user.avatar.shoes.photo.key, :class => 'avatar-shoes'%>
  </div>
</div>
</div>
