<div class="block-color d-flex mb-4">
<%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
      <div class="setting-icon" style="font-size: 2em; color: white;">
        <i class="fa-solid fa-gear"></i>
      </div>
      <%end%>
  <h3>Hi, <%= current_user.avatar.name %>!</h3>
</div>
<div class="container d-flex">
      <div class="hp-bar ms-3" style="flex-grow: 7">
        <%= image_tag 'health_bar/warning_hp.png', class: "health-bar"%>
      </div>
      <span style="flex-grow: 1"></span>
      <div class="point-bar me-3">
        <%= image_tag 'coins/coin.png', class: "coin-icon"%>
        <%# placeholder text below, can interpolate %>
        <p>1000</p>
      </div>
</div>
  <div class="container d-flex justify-content-center mt-5">
    <div class="avatar-card">
      <%= cl_image_tag @user.avatar.skin_color.photo.key, :class => 'avatar-skin-color'%>
      <%= cl_image_tag @user.avatar.hair.photo.key , :class => 'avatar-hair'%>
      <%= cl_image_tag @user.avatar.pants.photo.key, :class => 'avatar-pants'%>
      <%= cl_image_tag @user.avatar.shirt.photo.key, :class => 'avatar-shirt' %>
      <%= cl_image_tag @user.avatar.shoes.photo.key, :class => 'avatar-shoes'%>
    </div>
    <div class="speech-bubble">
    </div>
  </div>
  <div class="routine-icons container mt-4">
    <div class="progress-circle-food">
      <div class="food-icon d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-burger" style="font-size: 2em; color: white;"></i>
      </div>
    </div>
    <div class="progress-circle-sleep">
      <div class="sleep-icon d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-moon" style="font-size: 2em; color: white;"></i>
      </div>
    </div>
    <div class="progress-circle-exercise">
      <div class="exercise-icon d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-dumbbell" style="font-size: 2em; color: white;"></i>
      </div>
    </div>
  </div>
