 <%# _form.html.erb - its a form for submission%>
 <div class="d-flex justify-content-center w-100">
<div class="submission-form">
<p><%= message %></p>
<%# This kinda works %>
<%#= simple_form_for @submission, url: goal_submissions_path do |f| %>
  <%#= f.submit 'YES', submit_html: { value: true } %>
  <%#= f.submit 'NO', submit_html: { value: false } %>
<%# end %>

<%= simple_form_for [goal, @submission] do |f| %>
  <%= f.input :achieved, as: :hidden, input_html: { value: true } %>
  <%= f.input :date, as: :hidden, input_html: { value: Date.today } %>
  <%= f.submit 'YES', class: 'button-yes' %>
<% end %>
<%= simple_form_for [goal, @submission] do |f| %>
  <%= f.input :achieved, as: :hidden, input_html: { value: false } %>
  <%= f.input :date, as: :hidden, input_html: { value: Date.today } %>
  <%= f.submit 'NO', class: 'button-no' %>
<% end %>
</div>
</div>
