<div class="avatar-edit-bg">
<div class="block-color">
<h3>Update Your Avatar</h3>
</div>
<p class="mt-3">Select a category to change your avatar</p>
<div>
<%# name of user needs to be implemented here %>
<%# pen icon should link to updating name (pop-up?)%>
<h3 id="header">Edit Name <i class="fa-solid fa-pencil"></i></h3>
</div>
 <div class="container d-flex justify-content-center avatar-edit">
      <%= cl_image_tag @user.avatar.skin_color.photo.key, :class => 'avatar-skin-color-op', :style => 'width: 80%;'%>
      <%= cl_image_tag @user.avatar.hair.photo.key, :class => 'avatar-hair-op', :style => 'width: 80%;'%>
      <%= cl_image_tag @user.avatar.pants.photo.key, :class => 'avatar-pants-op', :style => 'width: 80%;'%>
      <%= cl_image_tag @user.avatar.shirt.photo.key, :class => 'avatar-shirt-op', :style => 'width: 80%;' %>
      <%= cl_image_tag @user.avatar.shoes.photo.key, :class => 'avatar-shoes-op', :style => 'width: 80%;'%>
  </div>
<div data-controller="avatar-options"  data-avatar-options-avatar-value="<%= @user.avatar.id %>">
  <div class="avatar-grid">
  <div data-avatar-options-target="form"></div>
    <% @categories.each do |category| %>
      <div data-action="click->avatar-options#select" value="<%= category %>"><%= cl_image_tag @parts.where(category: category).first.photo.key, class: 'avatar-option-card' %></div>
    <% end %>
  </div>

 <div class="navbar d-flex container mt-2">
      <%# will link to goals index %>
      <%= link_to new_user_session_path do %>
      <span style="font-size: 2em; color: white;">
        <i class="fa-solid fa-clock-rotate-left"></i>
      </span>
      <%end%>
      <%# will link to avatar edit %>
      <%= link_to new_user_session_path do %>
      <span style="font-size: 2em; color: white;">
        <i class="fa-solid fa-user"></i>
      </span>
      <%end%>
      <%# will link to submission index %>
       <%= link_to new_user_session_path do %>
      <span style="font-size: 2em; color: white;">
        <i class="fa-solid fa-chart-simple"></i>
      </span>
      <%end%>
      <%# will link to settings (log-out) %>
       <%= link_to new_user_session_path do %>
      <span style="font-size: 2em; color: white;">
      <i class="fa-solid fa-gear"></i>
      </span>
      <%end%>
    </div>
</div>
</div>
