<div class="avatar-edit-bg">
  <div class="block-color">
    <h3>Update Your Avatar</h3>
  </div>
  <p class="mt-3">Select a category to change your avatar</p>
  <%# name of user needs to be implemented here %>
  <%# pen icon should link to updating name (pop-up?)%>
  <div class="name-container">
    <h3><%= current_user.avatar.name ? current_user.avatar.name : "Edit name" %></h3>
    <button type="button" class="btn bg-transparent" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="fa-solid fa-pencil"></i>
    </button>
  </div>
  <%= render "avatars/name_modal" %>
  <div class="container d-flex justify-content-center avatar-edit">
    <%= cl_image_tag @user.avatar.skin_color.photo.key, :class => 'avatar-skin-color-op', :style => 'width: 70%;'%>
    <div class="avatar-expression-op">
      <%= cl_image_tag Part.find_by(name: "expression default").photo.key, :class => 'avatar-expression-op' %>
    </div>
    <%= cl_image_tag @user.avatar.hair.photo.key, :class => 'avatar-hair-op', :style => 'width: 70%;'%>
    <%= cl_image_tag @user.avatar.pants.photo.key, :class => 'avatar-pants-op', :style => 'width: 70%;'%>
    <%= cl_image_tag @user.avatar.shirt.photo.key, :class => 'avatar-shirt-op', :style => 'width: 70%;' %>
    <%= cl_image_tag @user.avatar.shoes.photo.key, :class => 'avatar-shoes-op', :style => 'width: 70%;'%>
  </div>
  <div data-controller="avatar-options"  data-avatar-options-avatar-value="<%= @user.avatar.id %>" style = "height: 126px;">
    <div class="avatar-grid">
      <% @categories.each do |category| %>
        <div data-action="click->avatar-options#select" value="<%= category %>">
          <button data-bs-toggle="modal" data-bs-target="#category-option-<%= category%>" style="border: none;">
            <%= cl_image_tag @parts.where(category: category).first.photo.key, class: 'avatar-option-card' %></button>
          <%= render "avatars/modal", category: category %>
        </div>
      <% end %>
    </div>
  </div>
</div>
