<div class="block-color d-flex mb-1">
  <h3>My Goals</h3>
</div>
<p>Daily Tasks</p>
<div class="task-main mb-2" style= "height: 70px; <%= food_background_border_color(Date.today) %>">
<h4 style="<%=food_percentage_color_dark(Date.today)%>">Breakfast</h4>
</div>
<div class="task-main mb-2" style= "height: 70px; <%= sleep_background_border_color(Date.today) %>">
<h4 style="<%=sleep_percentage_color_dark(Date.today)%>">Slept 8 hours</h4>
</div>
<p>Weekly Task</p>
<div class="task-main mb-2" style= "height: 70px; <%= exercise_background_border_color(Date.today) %>">
<h4 style="<%= exercise_percentage_color_dark(Date.today) %>">Exercise</h4>
</div>
<p>My Weekly Goals</p>
<% if !@goals.empty? %>
<<<<<<< HEAD
  <div class="list-group task-container" data-controller="tasks">
   
  <div class="wrapper task-item" id="add" >
  <button type="button" style="color: #008c9bb5; padding-left: 30px;" class="btn bg-transparent" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="fa-solid fa-plus fa-2xl"></i>
    </button>
      <h4 style="color: #008c9bb5; padding-right: 100px;">Add New Goal</h4>
<%= render "task_modal" %>
</div>
</div>
=======
  <ul class="list-group" data-controller="tasks">
    <%= render "submissions/submission_task_form", goals: @goals,  submission: @submission%>
  </ul>
<% else %>
  <p>No tasks here yet! Create one!</p>
<% end %>
>>>>>>> master
